*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: #548687; */
    background-color: #8bbaf4;
    text-align: center;
}

h1{
    font-family: Georgia, 'Times New Roman';
    font-weight: bolder;
    font-style: italic;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    /* color: #b0413e; */
    /* background-color: #ffffc7; */
    background-color: #1e3888;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;
    border: none;
}

#new{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;
    border: none;
}

#msg{
    /* color: #ffffc7; */
    color: #e01e37;
    font-size: 5vmin;
    font-weight: bolder;
    font-family: cursive;
}

.mssg{
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}